* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background: #E8CEBF;
}

img {
    width: 250px;
    padding: 10px;
    object-fit: cover;
}

.wrapper {
    display: flex;
    flex-wrap: wrap;
}

.wrapper > * {
    padding: 10px;
}

header, footer {
    flex: 1 100%;
    height: 10vh;
    background-color: #FDF8F5;
    text-align: center;    
}

main {
    flex: 4;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

article {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

article:nth-child(even) {
    flex-direction: row-reverse;
}

article div {
    background: #DCE1E3;
    padding: 10px;
    flex: 0 1 65%;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background: #DDAF94;
    flex: 1;
}

.aside-2 ul {
    list-style-position: inside;
}

@media screen and (max-width:1200px) {
    article div {  
        flex-basis: 55%;
    }
} 

@media screen and (max-width:1125px) {
    article div {  
        flex-basis: 100%;
    }
    
    img {
        width: 100%;
    }

    main {
        order: 1;
        flex: 100%;
        height: fit-content;
    }

    aside {
        order: 2;
    }

    footer {
        order: 3;
    }
} 

@media screen and (max-width: 450px) {
    aside {
        flex: 1 100%;
    }
}